{% extends 'base.html.twig' %}

{% block title %}Editar usuario
{% endblock %}

{% block body %}

	<style>

		.formEdicion {

			border-radius: 6px;
			box-shadow: -0.088px 2.398px 8.288px 0 rgba(0, 0, 0, 0.04), -0.439px 11.992px 51px 0 rgba(0, 0, 0, 0.07);
		}
	</style>


	<div class="container-fluid">

		<div class="row">

			{{ include('sidebar.html.twig') }}


			<div class="col-md-11 justify-content-center text-center formEdicion">

				<div class="text-start mt-1">
					<a href="{{ path('app_profile_index') }}" class="btn btn-secondary text-light border border-dark mt-1">

						<i class="bi bi-arrow-return-left"></i>
						Retroceder</a>
				</div>


				<h1>Editar usuario</h1>

				<div>
					{{ include('profile/_form.html.twig', {'button_label': 'Actualizar'}) }}
					{{ include('profile/_delete_form.html.twig') }}
				</div>
			</div>

		</div>

	{% endblock %}
