{% extends 'base.html.twig' %}

{% block title %}Email de recuperación de contraseña enviado
{% endblock %}

{% block body %}
	<p>
		Si tu cuenta está registrada, recibirás un email con un enlace para restaurar tu contraseña.
		        Este enlace expirará en
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si no recibes un email, por favor comprueba el apartado de spam de tu correo o
		<a href="{{ path('app_forgot_password_request') }}">intentalo de nuevo.</a>.</p>
{% endblock %}
