{% extends 'base.html.twig' %}
{% block body %}

	<style>
		body {
			background-color: white;
		}
	</style>


	<div class="col-md-1 d-flex flex-column border-end">


		<div class="icono mb-3 mt-3">
			<a href="{{ path('app_inicio') }}" class="">
				<img src="{{ asset('images/logo_samoo_vaca.png') }}" alt="" class="img-fluid mx-3" style="width: 60%">
			</a>
		</div>

		{% if is_granted('ROLE_SUPER_ADMIN') %}

			<div class="text-center mt-3">
				<a href="" class="">
					<i class="bi bi-person-circle"></i>
					<p>Gestionar usuarios</p>
				</a>
			</div>
		{% endif %}


		<div class="text-center mt-2">
			<a href="" class="">

				<i class="bi bi-gear"></i>
				<p>Editar perfil</p>
			</a>
		</div>

		<div class="salir text-center">
			<a href="{{ path('app_logout') }}" class="btn btn-danger text-light mt-1">

				<i class="bi bi-box-arrow-left"></i>
				<span class="mx-2">Salir</span>
			</a>
		</div>
	</div>
{% endblock %}
